/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

*{
	font-family:"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
input, label, select, option, textarea, button, fieldset, legend {
	font-family:"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family:"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.logo
{
	height: 4em;
	width: 4em;
}

.login-info a span {
	font-size: 1.7em;
}

.policies-table{
	padding-top: 3px;
}

.payment-info-panel{
	margin: 2em,1em,2em,0em;
	font-size: large;
	color: darkblue;
}

td button {
	margin-right: 0.5em;
}

.validation-valid {
    color: #0074D9;
}

.validation-invalid {
    color: #FF4136;
}

.clear{
	clear: both;
}

.thumb{
	width: 30px;
	height: 30px;
}

.height-limit{
	max-height: 800px;
	overflow: scroll;
}