<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
	<head>
	
		<meta charset="utf-8">
		<title>红叶保险查询系统</title>
		<meta name="description" content="">
		<meta name="author" content="Wang Chun">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="../styles/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../styles/css/font-awesome.min.css">
	</head>
	
	<body data-title="红叶保险代理查询系统">
<!--
		<div data-ui-view="root"  data-autoscroll="false"></div>

		<script src="build/vendor.js"></script>		
		<script src="build/app.js"></script>-->
		<h1>Hello World</h1>

		</body>
	
</html>
