<div class="row">
	<section class="col col-md-7">
		<!--<img ng-src={{vm.getImageUrl()}} alt="保单扫描件" width="700" data-ng-magnify/>-->
		<div id="policy-photo" 
		data-ng-magnify
		data-glass-width="400"
        data-glass-height="400" 
		image-src={{vm.getImageUrl()}} 
		width="700"></div>
	</section>
	<section class="col col-md-5">
			<dl class="dl-horizontal">
				<dt>保险公司</dt>
				<dd>{{vm.companyName}}</dd>
				<dt>投保人</dt>
				<dd>{{vm.policy.applicant.name}}</dd>
				<dt>车牌号</dt>
				<dd>{{vm.policy.plate_no}}</dd>
				<dt>交强险保费</dt>
				<dd>{{vm.policy.mandatory_fee.toFixed(2)}}</dd>
				<dt>商业险保费</dt>
				<dd>{{vm.policy.commercial_fee.toFixed(2)}}</dd>
			</dl>
	</section>
</div>