<div id="content">
    <div class="row" ng-show="user.role=='财务'">
        <article class="col-sm-12">

            <div jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-cny"></i> </span>

                    <h2>支付信息</h2>
                </header>
                <div class="widget-body">
                    <form ng-submit="vm.pay()">
                        <div class="row payment-info-panel">
                            <div class="col col-md-6">
                                <dl class="dl-horizontal">
                            <dt>保单状态</dt>
                            <dd>{{vm.policy.policy_status}}</dd>
                            <dt ng-show = "vm.policy.policy_status=='已支付'">支付日期</dt>
                            <dd ng-show = "vm.policy.policy_status=='已支付'">{{vm.policy.paid_at|date:"yyyy-MM-dd"}}</dd>
                            <dt>客户</dt>
                            <dd>{{vm.clientInfo.name}}</dd>
                            <dt>收款人</dt>
                            <dd>{{vm.clientInfo.payee}}</dd>
                            <dt>开户行</dt>
                            <dd>{{vm.clientInfo.bank}}</dd>
                            <dt>账号</dt>
                            <dd>{{vm.clientInfo.account}}</dd>
                            <dt>交强险</dt>
                            <dd>{{vm.policy.mandatory_fee | currency:"￥"}}</dd>
                            <dt>商业险</dt>
                            <dd>{{vm.policy.commercial_fee | currency:"￥"}}</dd>
                            <dt>车船税</dt>
                            <dd>{{vm.policy.tax_fee | currency:"￥"}}</dd>
                            <dt>总额</dt>
                            <dd>{{vm.policy.mandatory_fee + vm.policy.commercial_fee + vm.policy.tax_fee| currency:"￥"}}</dd>
                            </dl>
                        </div>
                        <div class="col col-md-6">
                            <!--<dl class="dl-horizontal">
                            <dt class="txt-color-red">跟单费</dt>
                            <dd>
                                <label class="input">
                                            <i class="icon-append fa fa-cny"></i>
                                            <input type="number" class="input-lg" name="gdf"
                                                   ng-model="vm.policy.gdf" placeholder="请输入跟单费" required>
                                </label>
                            </dd>
                            <dt class="txt-color-red">实付手续费</dt>
                            <dd>
                                <label class="input">
                                            <i class="icon-append fa fa-cny"></i>
                                            <input type="number" class="input-lg" name="sxf"
                                                   ng-model="vm.policy.sxf" placeholder="请输入手续费" required>
                                </label>
                            </div>
                            </dd>
                            </dl>-->
                            <div class="row">
                                <label class="txt-color-red" >跟单费</label>
                                <label class="input txt-color-red">
                                            <i class="icon-append fa fa-cny"></i>
                                            <input ng-disabled="vm.policy.policy_status=='已支付'" style="margin-left: 2.1em" type="number" class="input-lg" name="gdf"
                                                   ng-model="vm.policy.income" placeholder="请输入跟单费" required>
                                </label>
                            </div>
                            
                            <div class="row">
                                <label class="txt-color-red">实付手续费</label>
                                <label class="input  txt-color-red">
                                            <i class="icon-append fa fa-cny"></i>
                                            <input ng-disabled="vm.policy.policy_status=='已支付'" type="number" class="input-lg" name="sxf"
                                                   ng-model="vm.policy.payment" placeholder="请输入手续费" required>
                                </label>
                            </div>
                            <div class="row">
                                <button ng-show="vm.policy.policy_status=='待支付'" type="submit" class="btn btn-primary">修改保单状态为已支付</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </article>
    </div>


    <div class="row">
        <article class="col-sm-12">
            <div>
                <button ng-show="user.role=='出单员'&& !vm.editable" ng-click="vm.toggleEdit()" class="btn btn-primary"><i class="fa fa-fw fa-refresh"></i>编辑</button>
            </div>
            <div class="policies-table" jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-info"></i> </span>
                    <h2>保单详情</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="alert alert-block alert-warning" ng-show="vm.editable">
                            <h3 class="alert-heading"> 提交前请务必仔细核对！</h3>
                        </div>

                        <form ng-submit="vm.submit()" id="contact-form" class="smart-form">
                            <fieldset class="optional-input-field-set"  ng-disabled="!vm.editable">
                                <header>
                                    必填项
                                </header>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="label">保险公司</label>
                                        <label class="select">
                                            <select name="insu_company" class="input-lg"
                                                    ng-model="vm.policy.insu_company" required>
                                                <option value="">请选择保险公司</option>
                                                <option value="人保财险睢宁支公司">人保财险睢宁支公司</option>
                                                <option value="华安财险徐州中支">华安财险徐州中支</option>
                                            </select> <i></i> </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">保单号</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-key"></i>
                                            <input class="input-lg" name="policy_no" ng-model="vm.policy.policy_no"
                                                   required>
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">业务来源</label>
                                        <label class="select">
                                            <select name='client' class="input-lg" ng-model="vm.policy.client"
                                                    ng-options="c._id as c.name for c in vm.clients" required>
                                                <option value="">请选择业务来源</option>
                                            </select> <i></i>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-2">
                                        <label class="label">车牌号</label>
                                        <label class="input">
                                            <div class="row">
                                                <section class="col col-3">
                                                    <select name="plate_province" class="input-lg"
                                                            ng-model="vm.policy.plate_province"
                                                            required>
                                                        <option value="苏">苏</option>
                                                        <option value="浙">浙</option>
                                                    </select>
                                                </section>
                                                <section class="col col-9">
                                                    <label class="input">
                                                        <i class="icon-append fa fa-car"></i>
                                                        <input class="input-lg" name="plate_no"
                                                               ng-model="vm.policy.plate_no" required>
                                                    </label>
                                                </section>
                                            </div>
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        <label class="label">被保险人</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input class="input-lg" name="name" ng-model="vm.policy.applicant.name"
                                                   required>
                                        </label>
                                    </section>

                                    <section class="col col-2">
                                        <label class="label">电话</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-phone"></i>
                                            <input class="input-lg" name="phone" ng-model="vm.policy.applicant.phone"
                                                   required>
                                        </label>
                                    </section>

                                    <section class="col col-2">
                                        <label class="label">交强险</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-cny"></i>
                                            <input type="number" class="input-lg" name="mandatory_fee"
                                                   ng-model="vm.policy.mandatory_fee" required>
                                        </label>
                                    </section>

                                    <section class="col col-2">
                                        <label class="label">商业险</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-cny"></i>
                                            <input type="number" class="input-lg" name="commercial_fee"
                                                   ng-model="vm.policy.commercial_fee" required>
                                        </label>
                                    </section>

                                    <section class="col col-2">
                                        <label class="label">车船税</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-cny"></i>
                                            <input type="number" class="input-lg" name="tax_fee"
                                                   ng-model="vm.policy.tax_fee"
                                                   required>
                                        </label>
                                    </section>

                                </div>
                            </fieldset>
                            <fieldset class="optional-input-field-set"  ng-disabled=true>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">出单员</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input class="input-lg" name="cdy" ng-model="vm.sellerInfo.name">
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">营业部</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-group"></i>
                                            <input class="input-lg" name="organization" ng-model="vm.sellerInfo.organization">
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <fieldset class="optional-input-field-set" ng-disabled="!vm.editable">
                                <header>
                                    选填项
                                </header>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">发动机号</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-car"></i>
                                            <input class="input-lg" name="engine_no" ng-model="vm.policy.engine_no">
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">车架号</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-car"></i>
                                            <input class="input-lg" name="frame_no" ng-model="vm.policy.frame_no">
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">身份证号</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-key"></i>
                                            <input class="input-lg" name="identity"
                                                   ng-model="vm.policy.applicant.identity">
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">使用性质</label>
                                        <label class="select">
                                            <select name="catogary" class="input-lg"
                                                    ng-model="vm.policy.catogary">
                                                <option value="">请选择使用性质</option>
                                                <option value="家庭自用汽车">家庭自用汽车</option>
                                                <option value="非营业客车">非营业客车</option>
                                                <option value="营业客车">营业客车</option>
                                                <option value="非营业货车">非营业货车</option>
                                                <option value="营业货车">营业货车</option>
                                                <option value="特种车">特种车</option>
                                                <option value="摩托车">摩托车</option>
                                                <option value="拖拉机">拖拉机</option>
                                                <option value="挂车">挂车</option>
                                                <option value="其他">其他</option>
                                            </select> <i></i>
                                        </label>
                                    </section>


                                </div>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">生效日期</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" class="input-lg" name="effective_date"
                                                   placeholder="请输入生效日期"
                                                   data-smart-datepicker data-dateformat='yy-mm-dd'
                                                   ng-model="vm.policy.effective_date">
                                        </label>
                                    </section>
                                    <section class="col col-5">
                                        <label class="label">地址</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-envelope-o"></i>
                                            <input class="input-lg" name="identity"
                                                   ng-model="vm.policy.applicant.address">
                                        </label>
                                    </section>

                                </div>
                            </fieldset>


                            <footer>
                                <span>
                                    <button type="submit" class="btn btn-primary" ng-show="vm.editable">提交后录入下一条
                                    </button>
                                    <button type="submit" class="btn btn-primary" ng-show="vm.editable"
                                            ng-click="vm.setBack()">提交后查看列表
                                    </button>
                                </span>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>


</div>