<div id="content">
    <div class="row">
        <article class="col-sm-12">
            <div class="policies-table" jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-info"></i> </span>
                    <h2>上传测试</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <form name="uploadForm" id="uploadForm" class="smart-form" novalidate>

                            <fieldset class="optional-input-field-set">
                                <div class="row">
                                    <section class="col col-4">
                                            <input type="file" style="display: none;" class = "input-lg" accept=".jpg,.png,.bmp" id="file_selector" name="file_selector"
                                             onchange="angular.element(this).scope().vm.fileChanged(this.files);"/>
                                            
                                            <button type="button" class="btn btn-primary" id="select_file"  
       	                                     onclick="file_selector.click()">上传扫描件  
 	                                        </button>  
                                    </section>
                                     <!--<section class="col col-4">
                                            <button type="file" ngf-select="vm.uploadFile($file)"
                                            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                            上传扫描件</button>

                                    </section>-->

                                </div>
                                <div class="row">
                                    <section class="col col-4">
                                        <!--<button class="btn btn-primary" ng-disabled="vm.isDisableUploadButton()" ng-click="vm.uploadFile()">上传</button>-->
                                    </section>
                                </div>
                            </fieldset>
                            <a ng-show="vm.fileName" target="_blank" href={{vm.getFileLink()}}>Show Photo</a>
                        </form>
                    </div>
                </div>
            </div>

            
        </article>
    </div>


</div>